In [1]:
## hello

In [24]:
print("Hello")
print(100)
'hi'
100
2
3
4
type(2)
3
print("Shylu")
34
56
99

Hello
100
Shylu

99

In [23]:
type(45)
type(45.55)
type("QASR")
type("True")
type(45)
type(True)

bool

## invalid variables Names
2age=24
first-name='shylu'
@name='abc'

In [4]:
#2age=24
#first-name='shylu'
#@name='abc'

In [5]:
name='shylu'
Name='abc'
name==Name

False

In [8]:
#type conversions
age='25'
print(type(age))
age_int=int(age)
print(type(age_int))

<class 'str'>
<class 'int'>

In [9]:
# "" completely as sentance
name="shylu"
name_int=int(name)
print(name)

ValueError: invalid literal for int() with base 10: 'shylu'

In [10]:
# Dynamic Typing
var=10
print(var,type(var))
var='shylu'
print(var,type(var))
var=4.6
print(var,type(var))

10 <class 'int'>
shylu <class 'str'>
4.6 <class 'float'>

In [13]:
# input
age=input('enter age')
print('age is',age,type(age))

enter age 40

age is 40 <class 'str'>

In [14]:
a=10
b=10
bool()

False

In [15]:
a=10
b=10
#bool()
type(a==b)

bool

In [16]:
str='heelo'+5
print(str)

TypeError: can only concatenate str (not "int") to str

In [14]:
# leap year
year=int(input('enter year'))
if year%4==0:
   if year%100==0:
     if year%400==0:
         print(year," is  leap year")
     else:
         print(year," is not leap year")
   else:
       print(year," is leap year")
else:
  print(year," is not leap year")

enter year 2030

2030  is not leap year

In [24]:
# for loop
#range(0,10)
for i in range(1,20):
   print(i)

3
5
7
9
11
13
15
17
19

In [29]:
for i in range(2,20,3):
   print(i)

2
5
8
11
14
17

In [31]:
for i in range(20,5,-2):
   print(i)

20
18
16
14
12
10
8
6

In [36]:
#Strings
str="shailaja Botla"
for i in str:
  print(i)

s
h
a
i
l
a
j
a

B
o
t
l
a

In [2]:
## while loop
## the while loop continuous executes until condition is true
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

## loop control Statements
## break statements
## The Break statement exit the loop prematurely

In [4]:
for i in range(10):
  if i==5:
      break
  print(i)

0
1
2
3
4

In [8]:
# continue statement
for i in range(10):
    if i%2!=0:
       continue 
    print(i)

0
2
4
6
8

In [10]:
## PASS Statement
## is a null operation, it does nothing
for i in range(10):
    if i==3:
       pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(10):
    if i%2!=0:
       continue 
    print(i)

0
2
4
6
8

#nested loops

In [19]:
for i in range(3):
   for j in range(4):
       i=j+1
       print(f"i:{i} and j:{j}")

i:1 and j:0
i:2 and j:1
i:3 and j:2
i:4 and j:3
i:1 and j:0
i:2 and j:1
i:3 and j:2
i:4 and j:3
i:1 and j:0
i:2 and j:1
i:3 and j:2
i:4 and j:3

In [30]:
## calculate first  N natural numbers using while loop and for loop
n=int(input("enter number"))
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print("sum of ",{n}," natural numbers",sum)

enter number 12

sum of  {12}  natural numbers 78

In [34]:
## for loop
n=10
sum=0
for i in range(11):
   sum=sum+i
print(sum)

55

In [37]:
## prime numbers between 1 to 101
for num in range(1,101):
    if num>=1:
      for i in range(2,num):
        if num%i==0:
            break
      else:
            print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [3]:
lst=[]
print(type(lst))

<class 'list'>

In [6]:
lst=['shylu','vijay',1,11,2,3,4,5,12]
lst1=['vyshu','goutham']
lstf=lst+lst1
print(lstf)

['shylu', 'vijay', 1, 11, 2, 3, 4, 5, 12, 'vyshu', 'goutham']

In [9]:
print(lst[-2])

5

In [17]:
str='heelo'+str(5)
print(str)

heelo5

In [20]:
a=24
b=20
a==b

False

In [21]:
a=24
b=20
a!=b

True

In [22]:
a>b

True

In [23]:
a<b

False

In [25]:
a=10
b=10
a==b

True

In [19]:
a=21
b=5
div_val=a/b
flr_div_val=a//b
print('div_val is',div_val)
print('flr_div_val is',flr_div_val)

div_val is 4.2
flr_div_val is 4

In [25]:
print(type(23))
print(type(23),type(True),type(False),"shylu",95.9)
print(type(23.456))

<class 'int'>
<class 'int'> <class 'bool'> <class 'bool'> shylu 95.9
<class 'float'>

In [ ]:
print("my name is {},my number is {}, my number type is type{}".format("shylu",40,type(40)))

### Lists

In [35]:
## LISTS

my_list=[1,34.45,"shylu,my number is {}".format(6),23,True,1,2,3,12,34,5,6,7]
print(my_list)

[1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7]

In [2]:
## Line continuation
total=1+2+3+5+6+7+8+9+\
12+6+14
print(total)

73

In [4]:
## multiple statements in a single line
x=12;y=32;z=x+y
print(z)
### Type inference
type(z)

44

int

In [6]:
var=10
print(type(var))
var='shylu'
print(type(var))

<class 'int'>
<class 'str'>

In [11]:
list1=['apple','grapes','guava','mango','pear']
print(list1[1:3])
list1[1]="custered"
print(list1)
print(list1[3:-1])

['grapes', 'guava']
['apple', 'custered', 'guava', 'mango', 'pear']
['mango']

In [14]:
list1[1]="custered"
list1

['apple', 'custered', 'guava', 'mango', 'pear']

## list methods

In [17]:
## append
list1.append("peach")
print(list1)

['apple', 'custered', 'guava', 'mango', 'pear', 'peach', 'peach']

In [18]:
## remove method
list1.remove("guava")
print(list1)

['apple', 'custered', 'mango', 'pear', 'peach', 'peach']

In [21]:
## remove and return the last element
pop_list1=list1.pop()
print(pop_list1)
print(list1)

peach
['apple', 'custered', 'mango', 'pear']

In [25]:
index=list1.index("mango")
print(index)

2

In [39]:
print(list1)
#list1.insert(2,"custered")
print(list1.count("pear"))

['apple', 'banana', 'banana', 'banana', 'banana', 'custered', 'custered', 'custered', 'custered', 'mango', 'pear']
1

In [40]:
list1.sort()
print(list1)
print(list1.count("custered"))
list1.reverse()
print(list1)

['apple', 'banana', 'banana', 'banana', 'banana', 'custered', 'custered', 'custered', 'custered', 'mango', 'pear']
4
['pear', 'mango', 'custered', 'custered', 'custered', 'custered', 'banana', 'banana', 'banana', 'banana', 'apple']

In [41]:
l1_list=[1,2,3,4,5,6,"shylu"]
print(l1_list)
#l1_list.clear()

[1, 2, 3, 4, 5, 6, 'shylu']

In [43]:
l1_list.clear()
print(l1_list)

[]

In [48]:
numbers=[1,2,3,4,12,22,33,32,11,4,14,16,17]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::5])# jumps 5 steps
print(numbers[::-2])
print(numbers[::2])# jumps 2 steps
print(numbers[::-1])# print reverse

[3, 4, 12]
[1, 2, 3, 4, 12]
[22, 33, 32, 11, 4, 14, 16, 17]
[1, 22, 14]
[17, 14, 11, 33, 12, 3, 1]
[1, 3, 12, 33, 11, 14, 17]
[17, 16, 14, 4, 11, 32, 33, 22, 12, 4, 3, 2, 1]

In [49]:
for number in numbers:
   print(number)

1
2
3
4
12
22
33
32
11
4
14
16
17

In [52]:
for index,number in enumerate(numbers):
   print(index,number)

0 1
1 2
2 3
3 4
4 12
5 22
6 33
7 32
8 11
9 4
10 14
11 16
12 17

## list comphrehesion

In [55]:
## list comphrehesion
lst=[]
for i in range(10):
      print(i**2)

0
1
4
9
16
25
36
49
64
81

In [64]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
square=[x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
lst=[]
for i in range(20):
    if i%2==0:
        lst.append(i)
print("even numbers are",lst)

even numbers are [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
even_num=[ i for i in range(30) if i%2!=0]
print(even_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [76]:
even_num=[ i for i in range(30) if i%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [77]:
lst2=['a','b','c','d']
lst3=[1,2,3,4]
pair=[[i,j] for i in lst2 for j in lst3]
print(pair)

[['a', 1], ['a', 2], ['a', 3], ['a', 4], ['b', 1], ['b', 2], ['b', 3], ['b', 4], ['c', 1], ['c', 2], ['c', 3], ['c', 4], ['d', 1], ['d', 2], ['d', 3], ['d', 4]]

In [78]:
### list comphrehension with function call
words=["hello","world","welcome","to", "python"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 7, 2, 6]

In [55]:
x=my_list[0]
y=my_list[2]
z=my_list[-1:3]
a=my_list[1:2]
b=my_list[:3]
c=my_list[4:]
u=my_list[-4:-2]
v=my_list[-1]

In [56]:
print('x is ',x)
print('y is ',y)
print('z is ',z)
print('a is ',a)
print('b is ',b)
print('c is ',c)
print('u is ',u)
print('v is ',v)

x is  1
y is  shylu,my number is 6
z is  []
a is  [34.45]
b is  [1, 34.45, 'shylu,my number is 6']
c is  [True, 1, 2, 3, 12, 34, 5, 6, 7]
u is  [34, 5]
v is  7

In [58]:
my_list.append('lists are appendable')

In [59]:
print(my_list)

[1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7, 'lists are appendable', 'lists are appendable']

## appending lists

In [67]:
my_list2=[1,2,3.5,45,'shylu','abc','xyz']
result=my_list+my_list2
print(result)

[1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7, 'lists are appendable', 'lists are appendable', 1, 2, 3.5, 45, 'shylu', 'abc', 'xyz']

## Tuples
## Tuples are same as lists
## tuples are not appended(we cannot append elements in the tuple but in list possible)

In [60]:
my_tuple=[1,34.45,"shylu,my number is {}".format(6),23,True,1,2,3,12,34,5,6,7]
print(my_tuple)

[1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7]

In [65]:
print("this is my tuple is \n {}".format(my_tuple))

this is my tuple is
 [1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7]

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
my_tuple=(1,2,3,4,)
print(my_tuple)

(1, 2, 3, 4)

In [3]:
mixed_tuple=(1,2.3,"shylu","hello")
print(mixed_tuple)

(1, 2.3, 'shylu', 'hello')

In [4]:
## Accessing tuple elements
mixed_tuple[::-1]

('hello', 'shylu', 2.3, 1)

In [5]:
## tuple operation
concat_tuple=my_tuple+mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 1, 2.3, 'shylu', 'hello')

In [6]:
mixed_tuple *4

(1,
 2.3,
 'shylu',
 'hello',
 1,
 2.3,
 'shylu',
 'hello',
 1,
 2.3,
 'shylu',
 'hello',
 1,
 2.3,
 'shylu',
 'hello')

## Immutable nature of Tuple

In [8]:
my_tuple[2]="abc"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

## tuple methods

In [11]:
print(my_tuple.count(2))
print(my_tuple.index(4))

1
3

## packing and unpacking of tuples

In [12]:
#packing tuple
packed_tuple=1,23,"hello"
print(packed_tuple)

(1, 23, 'hello')

In [14]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
23
hello

In [15]:
## unpacking with **
num=(1,2,3,4,12,21,34,6,7,8)
first,* middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 12, 21, 34, 6, 7]
8

## Nested tuples
## Nested Lists

In [20]:
lst=[[1,2,3,4],['hello','abc','shylu'],['a',2,3,9]]
print(lst[0])
print(lst[0][2])
print(lst[2])

[1, 2, 3, 4]
3
['a', 2, 3, 9]

In [21]:
lst=[[1,2,3,4],['hello','abc','shylu'],('a',2,3,9)]
print(lst)

[[1, 2, 3, 4], ['hello', 'abc', 'shylu'], ('a', 2, 3, 9)]

In [25]:
nest_tuple=((1,2,3,4),("a","bc","world"),('anh',12,34,23))
print(nest_tuple[2][2])
print(nest_tuple[0][2])

34
3

In [31]:
##iterating over nested tuples
for sub_tuple in nest_tuple:
    for i in sub_tuple:
        print(i,end=' ,')
    print()

1 ,2 ,3 ,4 ,
a ,bc ,world ,
anh ,12 ,34 ,23 ,

## Appending Tuples

In [68]:
my_tuple1=['a','b','c','xyz','abc']
result1=my_tuple1+my_tuple
print(result)

[1, 34.45, 'shylu,my number is 6', 23, True, 1, 2, 3, 12, 34, 5, 6, 7, 'lists are appendable', 'lists are appendable', 1, 2, 3.5, 45, 'shylu', 'abc', 'xyz']

### Dictionaries
dictionary={'key1':,'key2':}

In [69]:
my_dictionary={'key1':my_list,'key2':my_tuple,'key3':type(25.5)}
my_dictionary

{'key1': [1,
  34.45,
  'shylu,my number is 6',
  23,
  True,
  1,
  2,
  3,
  12,
  34,
  5,
  6,
  7,
  'lists are appendable',
  'lists are appendable'],
 'key2': [1,
  34.45,
  'shylu,my number is 6',
  23,
  True,
  1,
  2,
  3,
  12,
  34,
  5,
  6,
  7],
 'key3': float}

In [70]:
my_dictionary1={'key1':'shylu','key2':1985,'key3':type(25.5)}
my_dictionary1

{'key1': 'shylu', 'key2': 1985, 'key3': float}

## Buit in key functions

In [83]:
my_dictionary_keys=my_dictionary1.keys()
print("my_dictionary_keys are: \n{}".format(my_dictionary_keys))

my_dictionary_keys are:
dict_keys(['key1', 'key2', 'key3'])

## list in key functions

In [85]:
my_dictionary_keys=list(my_dictionary1)
print("my_dictionary_keys are: \n{}".format(my_dictionary_keys))

my_dictionary_keys are:
['key1', 'key2', 'key3']

## Loops
## Loop over element of a list

In [3]:
my_list01=[1,2,4,6,9,5,12]
my_list2=[]
for i in my_list01:
    my_list2.append(i**2)
    print(my_list2)

[1]
[1, 4]
[1, 4, 16]
[1, 4, 16, 36]
[1, 4, 16, 36, 81]
[1, 4, 16, 36, 81, 25]
[1, 4, 16, 36, 81, 25, 144]

In [9]:
my_list01=[1,2,4,6,9,5,13,7,13,14,15,18]
my_list2=[]
for i in my_list01:
    my_list2.append(i*5)
    print(my_list2)

[5]
[5, 10]
[5, 10, 20]
[5, 10, 20, 30]
[5, 10, 20, 30, 45]
[5, 10, 20, 30, 45, 25]
[5, 10, 20, 30, 45, 25, 65]
[5, 10, 20, 30, 45, 25, 65, 35]
[5, 10, 20, 30, 45, 25, 65, 35, 65]
[5, 10, 20, 30, 45, 25, 65, 35, 65, 70]
[5, 10, 20, 30, 45, 25, 65, 35, 65, 70, 75]
[5, 10, 20, 30, 45, 25, 65, 35, 65, 70, 75, 90]

## for loop

In [53]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [50]:
for i in range(1,20,2):

    print(i)

1
3
5
7
9
11
13
15
17
19

In [33]:
for i in range(1,10):
   if i%2==0:
    print(" {}  is even number".format(i))
   elif i%2!=0:
    print(" {}  is odd number".format(i))
   else:
    print(" no comment of above number{}".format(i))

 1  is odd number
 2  is even number
 3  is odd number
 4  is even number
 5  is odd number
 6  is even number
 7  is odd number
 8  is even number
 9  is odd number

## Functions

In [38]:
def fun_test(i):
 for i in range(1,10):
   if i%2==0:
    print(" {}  is even number".format(i))
   elif i%2!=0:
    print(" {}  is odd number".format(i))
   else:
    print(" no comment of above number{}".format(i))

In [40]:
fun_test(i)

 1  is odd number
 2  is even number
 3  is odd number
 4  is even number
 5  is odd number
 6  is even number
 7  is odd number
 8  is even number
 9  is odd number

In [70]:
def fun_test2(start_val=0,stop_val=20,step_val=1):
    for i in range(start_val,stop_val,step_val):
        if i%5==0:
            print("{} is divisible by 5".format(i))
        elif i%2==0:
            print("{} is divisible by 2 and even number".format(i))
        elif i%3==0:
            print("{} is divisible by 3 and even number".format(i))   
        else:
            print(" {} is no comment of number".format(i))

In [71]:
fun_test2(start_val=2,stop_val=20)

2 is divisible by 2 and even number
3 is divisible by 3 and even number
4 is divisible by 2 and even number
5 is divisible by 5
6 is divisible by 2 and even number
 7 is no comment of number
8 is divisible by 2 and even number
9 is divisible by 3 and even number
10 is divisible by 5
 11 is no comment of number
12 is divisible by 2 and even number
 13 is no comment of number
14 is divisible by 2 and even number
15 is divisible by 5
16 is divisible by 2 and even number
 17 is no comment of number
18 is divisible by 2 and even number
 19 is no comment of number

## Functions examples with o\p to be returned

In [78]:
def fun_test3(x,y):
    if x%y==0:
      ## print("{} is even number".format(x))
        output1=x*y
        output2=x/y
    else:
        output1='N/A'
        output2='N/A'
    return output1,output2

In [87]:
output1,output2=fun_test3(23,5)
print("{}  ".format(output1))
print("{}  ".format(output2))

N/A
N/A

###